# CODEOWNERS
#
# documentation for this file can be found at:
# https://help.github.com/en/articles/about-code-owners

# for all files:
* @shenda1 @forrestxia @baoy1 @taohe1012 @P-Cao @tanh17 @doriac11 @varunchinta @nikitajoshi1 @shekhar-j @RayLiu7 @vangork @sapana05 @MangirishK @Sakshi-dell @Krunal-Thakkar @rounak-adhikary
